.mainBody {
    margin-top: 2rem;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;

    .lists {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .bottom {
        background: red;
    }
}