@import '../../common/common.scss';

.detail {
    width: 30%;
    height: 100vh;
    background-color: white;
    position: relative;

    display: flex;
    flex-direction: column;

    .container {
        height: 100%;
        border: 5px solid;
        display: flex;
        flex-direction: column;
    }

    .addBookBtn {
        @include flex;
        width: 20px;
        height: 20px;
        padding: 3px;
        position: absolute;
        top: 10px;
        right: 50px;
        font-weight: bold;
        border: 1px solid;

        &:hover {
            cursor: pointer;
        }
    }

    .closeBtn {
        @include flex;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
        }
    }

    .num {
        padding: 10px 0;
        padding-left: 10px;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .generate {
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        font-weight: bold;
        padding: 5px 0;
        padding-left: 10px;
    }

    .img {
        height: 170px;
        object-fit: contain;
    }

    .miniTitle {
        @include flex;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
        height: 30px;
    }

    .mainContents {
        padding: 10px;
        background-color: whitesmoke;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-box-shadow: 0px 8px 17px -3px #000000; 
        box-shadow: 0px 3px 17px -3px #000000;

        .statusItem {
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: bold;
            margin-bottom: 3px;

            .statusTitle {
                height: 13px;
                padding: 5px;
                display: flex;
                align-items: center;
                border: 1px solid black;
                width: 80px;
            }

            .statusBar {
                height: 15px;
                display: flex;
                align-items: center;
                font-size: 13px;
                padding: 5px;
            }
        }

        span {
            margin-right: 1rem;
        }
    }

    .genus,
    .types,
    .abilities,
    .status {
        margin-bottom: 1rem;
    }

    .abilities {
        span {
            font-weight: bold;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .flavor {
        font-size: 0.8rem;
    }

    .types {
        .type {
            padding: 3px;
            border-radius: 4px;
            font-weight: bold;
            color: white;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    @include mobile {
        width: 100%;

        .img {
            height: 150px;
        }
    }
}