.bookList {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    font-size: 13px;
    background-color: whitesmoke;

    .id {
        line-height: 50px;
        width: 20%;
        height: 100%;
        background-color: lightgray;
        padding-left: 10px;
    }

    .name {
        text-align: center;
        width: 45%;
        height: 100%;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
    }

    .total {
        padding-right: 20px;
        width: 20%;
        height: 100%;
        line-height: 50px;
        background-color: gray;
        text-align: end;
    }

    .btns {
        width: 15%;
        height: 100%;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .btn {
            width: 15px;
            height: 15px;
            padding: 3px;
            border: 1px solid black;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                background-color: gray;
            }
        }
    }
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}