@import "../../../../common/func.scss";
@import "../../../../common/common.scss";

.body {
  width: 60%;
  height: get-vw(350px);
  border: 3px solid;
  padding: 50px;
  margin: 0 30px;
  position: relative;
  @include flex;
  background-color: white;

  .imgs {
    width: get-vw(600px);
    height: 100%;
    position: relative;

    .img {
      width: 100%;
      height: 100%;
    }

    .imgText {
      font-size: 14px;
      color: gray;
      display: flex;
      font-weight: bold;
      position: absolute;
      bottom: 0px;
      right: 0px;

      .origin,
      .mega,
      .dymax {
        cursor: pointer;

        &:hover {
          color: black;
          transform: scale(1.1);
        }
      }

      .mega,
      .dymax {
        margin-left: 10px;
      }
    }
  }

  .detailTexts {
    display: flex;
    flex-direction: column;
    margin-left: 40px;

    .header {
      position: relative;
      .num {
        font-size: get-vw(10px);
        font-weight: 700;
        color: gray;
      }

      .name {
        font-size: get-vw(20px);
        font-weight: bold;
      }

      .generate {
        font-size: get-vw(8px);
        font-weight: 700;
      }

      .vs {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: get-vw(10px);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .lists {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      font-size: get-vw(8px);

      .list {
        padding: 5px;
        border: 1px solid lightgray;
        margin-right: 10px;
        margin-top: 10px;

        .title {
          text-align: center;
          font-weight: 700;
          margin-bottom: 10px;
          color: gray;
        }

        .body {
          display: flex;
          padding: 5px;
          font-weight: 700;
          // font-size: 13px;

          .type {
            width: get-vw(30px);
            text-align: center;
            cursor: pointer;

            &:hover {
              .item {
                text-decoration: underline;
              }
            }

            .icon {
              margin-bottom: 3px;
              width: get-vw(20px);
              height: get-vw(15px);
            }
          }

          .ability {
            display: flex;
            position: relative;

            .item {
              width: get-vw(50px);
              text-align: center;
            }
            .item:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }

          .stat {
            width: get-vw(35px);
            padding: 10px 5px;
            margin-right: 5px;
            text-align: center;
            border-radius: 8px;
            background-color: gray;
            color: white;

            .value {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
