@import "../../common/common.scss";

.list {
  width: 100%;
  height: 200px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  min-width: 100px;

  .num {
    font-size: 20px;
    color: gray;
  }

  .img {
    height: 140px;
    object-fit: contain;
  }

  .name {
    height: 60px;
    @include flex;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
    background-color: lightgray;
  }

  @include mobile {
    width: 90%;
    height: 150px;

    .num {
      font-size: 16px;
    }

    .img {
      height: 100px;
    }
  }
}
