.container {
  display: flex;
  margin-top: 15px;
  width: 400px;

  .title {
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    width: 20%;
  }

  .types {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    font-size: 12px;
    row-gap: 5px;

    .type {
      padding: 5px;
      border-radius: 4px;
      color: white;
      margin-left: 5px;

      .num {
        font-size: 10px;
      }
    }
  }
}
