@import "../../../../../../../common/func.scss";

.body {
  display: flex;
  padding: 5px;
  font-weight: 700;
  gap: 5px;

  .ability {
    display: flex;
    position: relative;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
