.desktopBook {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .lists {
    width: 100%;
    height: 600px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);

    .listContainer {
      width: 230px;
      display: flex;
      justify-content: center;
      position: relative;

      .removeBtn {
        font-size: 25px;
        padding: 10px;
        z-index: 100;
        position: absolute;
        top: 5px;
        right: 5px;

        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }
}
