@import '../../common/common.scss';

.main {
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include mobile {
        width: 100%;
    }
}