@import "../../../common/common.scss";

.mobileTypeItem {
  position: relative;

  .title {
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .items {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    row-gap: 10px;

    .iconWrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;

      .icon {
        cursor: pointer;
        height: 30px;
        object-fit: contain;
        border-radius: 8px;
      }

      .arrow_box {
        font-size: 12px;
        width: 40px;
        display: none;
        position: absolute;
        padding: 5px 0;
        text-align: center;
        top: 20px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        color: #fff;
        z-index: 100;
        white-space: nowrap;
      }

      .icon:hover + p.arrow_box {
        display: block;
      }
    }
  }

  @include mobile {
    width: 90%;

    .title {
      font-size: 14px;
      margin-top: 20px;
    }

    .items {
      .icons {
        height: 30px;
      }
    }
  }
}
