@import "../../common/common.scss";

.detail {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
