@import '../../common/common.scss';

.type {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 4px solid;
        width: 30%;
        height: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        .title {
            padding: 5px;
            border-radius: 8px;
            margin-top: 50px;
            font-weight: bold;
            font-size: 20px;
            color: white;
        }

        .doubleDamegeFrom,
        .doubleDamegeTo,
        .halfDamegeFrom,
        .halfDamegeTo,
        .noDamegeFrom,
        .noDamegeTo {
            width: 90%;
            height: 100px;
            display: flex;
            flex-direction: column;
            
            .items{
                border: 3px solid black;
                border-radius: 20px;
                display: flex;

                span {
                    margin-right: 1rem;
                }
            }
        }
    }

    @include mobile {
        .container {
            width: 100%;
        }
    }
}