.mainHeader {
    width: 100%;
    display: flex;
    flex-direction: column;

    .logo {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    .generateList {
        width: 100%;
        position: relative;

        .listHeader{
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: skyblue;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .listItems {
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;

            .listItem {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: skyblue;
                
                &:hover {
                    background-color: rgb(62, 62, 168);
                    cursor: pointer;
                }

                &:last-child {
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }

    .generateBtn {
        width: 100%;
        height: 50px;
        border-radius: 50px;
        background-color: skyblue;
        text-align: center;
        line-height: 50px;

        &:hover {
            cursor: pointer;
        }
    }
}