@import '../../common/common.scss';

.mainHeader {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;

    .logo {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    .search {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: none;
        outline: none;
        background-color: lightgray;
        width: 100px;
        height: 30px;
        border-radius: 20px;
    }

    .sort {
        position: absolute;
        top: 4rem;
        right: 1rem;
        width: 25px;
        height: 25px;
        border: 1px solid lightgray;
        border-radius: 4px;

        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
}