@import "../../../../common/common.scss";

.genus {
  margin-bottom: 1rem;

  .miniTitle {
    @include miniTitle;
  }

  .mainContents {
    @include mainContents;

    span {
      font-weight: bold;
      margin-right: 1rem;
    }
  }
}
