@import "../../../common/common.scss";
@import "../../../common/func.scss";

.typeDif {
  color: gray;

  .vs {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: get-vw(10px);
    font-weight: bold;
    cursor: pointer;

    @include mobile {
      top: 10px;
      right: 10px;
      font-size: 13px;
    }
  }
}
