.imgs {
  height: 100%;
  position: relative;

  .img {
    width: 400px;
    height: 100%;
  }

  .imgText {
    font-size: 14px;
    color: gray;
    display: flex;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;

    &:hover {
      color: black;
      transform: scale(1.1);
    }
  }
}
