.imgs {
  width: 600px;
  height: 100%;
  position: relative;

  .img {
    width: 100%;
    height: 100%;
  }

  .imgText {
    font-size: 14px;
    color: gray;
    display: flex;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    right: 0px;

    .origin,
    .mega,
    .dymax {
      cursor: pointer;

      &:hover {
        color: black;
        transform: scale(1.1);
      }
    }

    .mega,
    .dymax {
      margin-left: 10px;
    }
  }
}
