@import "../../../common/modal.scss";

.abilityModal {
  @include modal;

  .title {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: lightgray;
  }

  .content {
    width: 90%;
    padding: 10px;
    font-size: 12px;
  }
}
