@import "../../../common/common.scss";
@import "../../../common/func.scss";

.desktopType {
  width: 100vw;
  height: 100vh;
  @include flex;
  background-color: whitesmoke;

  .container {
    width: 60%;
    min-height: get-vw(300px);
    border: 3px solid black;
    position: relative;
    border-radius: 8px;
    padding: 50px;
    margin: 0 30px;
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 20px;

    .home {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
