.desktopBook {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .lists {
        width: 100%;
        height: 600px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 300px);
    }
}